.bookings {
    margin: 20px;
    padding: 50px 100px;
}

.booking_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.booking_table th, .booking_table td {
    border: 1px solid rgb(64, 84,61);    
    padding: 8px;
    text-align: left;
}

.booking_table th {
    background-color: rgb(132, 143, 125);
}

.delete {
    background-color: #f44336;
    color: white;
    border: 1px solid #f44336;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    width: fit-content;
}

.delete:hover {
    background-color: white;
    color:  #f44336;
    border: 1px solid #f44336;
    transition: 0.8s;
}

.update {
    background-color: white;
    color:  rgb(132, 143, 125);
    border: none;
    border: 1px solid rgb(132, 143, 125);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    width: fit-content;
}

.update:hover {
    background-color:  rgb(132, 143, 125);
    color:  white;
    border: 1px solid rgb(132, 143, 125);
    transition: 0.8s;
}

.pay {
    background-color: rgb(132, 143, 125);
    color: white;
    border: 1px solid  rgb(132, 143, 125);
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}

.pay:hover {
    background-color: rgb(64, 84,61);
    color:  white;
    border: 1px solid  rgb(64, 84,61);
    transition: 0.8s;
}