.guidesc {
    width: 100%;
    margin: 0;
    padding: 0;
}

.description_container {
   max-width: 100%;
   background-color: rgb(64, 84, 61);
}

.guide_title {
    max-width: 100%;
    gap: 10px;
    display: flex;
    padding: 10px 150px;
    color: white;
    font-weight: bold;
}

.guide_title .link {
    color: white;
}

.guide_info {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 50px 0px;
    align-items: center;
}

.img {
    padding: 10px 150px;
}

.img .guide_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.guide_info .introduction {
    padding: 0px 0;
}

.title_ {
    padding: 10px 20px 40px 0px;
    max-width: 100%;
}

.contact {
    padding: 50px 170px;
}

.contact_title {

    font-size: 20px;
    font-weight: bold;
}

.contact_container {
    display: flex;
    padding: 30px 0;
    font-size: 25px;
    gap: 10px;
}

.contact_icons:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: 1s; 
}